@model IEnumerable<OrderManagement.Controllers.Orders.Models.OrdersViewModel>

@{
    ViewData["Title"] = "Lista de Pedidos";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Lista de Pedidos</h2>
<a href="/Orders/Create" class="btn btn-primary mb-3">Novo pedido</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Data</th>
            <th>Cliente</th>
            <th>Pedido</th>
            <th>Preço</th>
            <th>Total</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderDate</td>
                <td>@order.Customer.Name</td>
                @foreach (var item in order.Items)
                {
                    <td>
                        <ul>
                            <li>Produto: @item.Product.Name - Quantidade: @item.Quantity</li>
                        </ul>
                    </td>
                    <td>@item.Product.Price.ToString("C")</td>
                }
                <td>@order.Items.Sum(i => i.Quantity * i.Product.Price).ToString("C")</td>
                <td>
                    <a href="/Orders/Edit/@order.Id" class="btn btn-warning btn-sm">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
